<footer>
    <nav>
        <ul>
            <a href="{{ path('author_show_all') }}"><li>Tous les Auteurs</li></a>

            <a href="{{ path('author_create') }}"><li>Créer un Auteur</li></a>


        </ul>
    </nav>
</footer>