{% extends 'base.html.twig' %}

{% block title %}Création d'article{% endblock %}

{% block content %}
    Je suis dans ma page Create !
    Je suis dans ma page de création d'un article !
    <h1>Créer un article:</h1>

    {{ form(articleForm) }}
{% endblock %}